name: Build

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Setup dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1
      with:
        vs-prerelease: true
      
    - name: Restore
      working-directory: ./build
      run: dotnet restore Stride.sln

    - name: Build
      working-directory: ./build
      run: dotnet build Stride.sln
