name: Build

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Setup dotnet
      uses: actions/setup-dotnet@v1
      
    - name: Restore
      working-directory: ./build
      run: dotnet restore Stride.sln

    - name: Build
      working-directory: ./build
      run: dotnet build
